pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin:20px;
}

.status{
	color:orange;
}

.log{
	color:blue;
}

.diff{
	color:green;
}

.pull-right{
	float: right;
}

.output_box{
	height: 500px;
}

body{
	padding-left: 1.0%;
	padding-right: 1.0%;
}
